<h1>{{botname}}</h1>
<p>{{description}}</p>
<p><a href="https://api.telegram.org/bot{{bottoken}}/setWebHook">Disable WebHook</a><br>
<a href="https://api.telegram.org/bot{{bottoken}}/setWebHook?url=https://playground.jaewoong.info/tb/{{bottoken_short}}">Set WebHook</a></p>
