<h1>{{botname}}</h1>
<p>{{description}}</p>
<p><a href="https://api.telegram.org/bot{{botkey}}/setWebHook">Disable WebHook</a><br>
<a href="https://api.telegram.org/bot{{botkey}}/setWebHook?url=https://playground.jaewoong.info/tb/{{botkey_short}}}">Set WebHook</a></p>
